<h1 class="feeds-title"> <%= feed.escape("title") %> </h1>
<button class="refresh ">Refresh Feed</button>
<a class="back-to-index" href="#">Back to Index</a>

<section class="group">
  <ul class="entries"></ul>
  <div class="other-content" ></div>
</section>
